<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<title>The web site is still under construction, please try later.</title>
		<link href='/static/css/style.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="ui main text container">
			<h1 class="ui header">Sticky Example</h1>
			<p>This example shows how to use lazy loaded images, a sticky menu, and a simple text container</p>
		</div>
		<div class="ui borderless main menu">
			<div class="ui text container">
				<div class="header item">
					Project Name
				</div>
				<a href="#" class="item">Blog</a>
				<a href="#" class="item">Articles</a>
			</div>
		</div>
		<div class="ui text container">
			<div class="ui items">
				{{ range .}}
				<div class="item">
					<div class="content">
						<div class="header">
							<a href="?id={{.Id}}">{{.Name}}</a>
						</div>
						<div class="meta">
							<a href="?u={{.Author}}">{{.Author}}</a> <span class="item-at">{{.At}}</span>
						</div>
						<div class="description">{{.Sub}}</div>
					</div>
				</div>
				{{ end }}
			</div>
		</div>
		<div class="ui inverted vertical footer segment">
			<div class="ui center aligned container">
				© 2018 Russ Cox. These posts are made available 
			</div>
		</div>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/semantic.min.js"></script>
	</body>
</html>
